.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f3f3f3;
  box-sizing: border-box;
  border-top: 1px solid rgba(96, 96, 96, 0.3);
  z-index: 10000;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style:none;
  padding: 0;
}

li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}