.App {
  text-align: center;
}


.bottom-nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid red; /* 추가된 라인 */
  z-index: 1000;
}
